/* Styling for the clickable text */
.clickable-text {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    cursor: pointer;
    display: block;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bolder;

}

/* Hidden by default */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.800); /* Black w/ opacity */
}

/* Popup content */
.popup-content {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    background: #8a8a8a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    min-height: 700px;
    font-size: ch;
}

.linebox{
    background-color: rgba(0, 0, 0, 0.637); 
    border-radius: 50px;
    width: auto; height: 5px; 
    margin-right: 220px;
    margin-top:110px;
}


.SCP_Name{
    font-weight: bolder;
    text-align: center;
    font-size: x-large;
    margin-top: 25px;

}
.SCP_image{
    display: grid;
    right: 10px;
    width:210px; 
    max-width: 21vw;
    height: auto; 
    border:5px solid;
    border-color:black;
    float: right; 
    margin: 10px;
    margin-bottom: 0;
}
.SCP_Class{
    height: 10vw;
}
.SCP_Class_text{
    position: absolute;
    top:-10px;
    left: 0px;
    text-align: justify;
    font-size: medium;
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
}
.SCP_ClassImage{
    position: absolute;
    top:-70px;
    left:-170px;
    height: auto; 
    max-height: 150px;
    
}
.SCP-info{
    text-align: justify;
}



/* Close button */
.close-btn {
    position: absolute;
    top: -20px;
    right: -10px;
    font-size: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.800);
}
